<?xml version="1.0" encoding="utf-8" ?>
<fanspeed>
  <profile default="true">
    <name>Manual: Audible</name>
    <interval>1000</interval>
    <point safe_temp="52" trip_temp="62" steady_speed="3000" />
  </profile>
    <profile>
    <name>Manual: Passive</name>
    <interval>1000</interval>
    <point safe_temp="52" trip_temp="62" steady_speed="0" />
  </profile>
</fanspeed>