<?xml version="1.0" encoding="utf-8" ?>
<fanspeed>
  <profile default="true">
    <name>Audible</name>
    <interval>1000</interval>
    <safetemp>52</safetemp>
	<triptemp>62</triptemp>
	<steadyspeed>3000</steadyspeed>
  </profile>
    <profile>
    <name>Passive</name>
    <interval>1000</interval>
    <safetemp>52</safetemp>
	<triptemp>63</triptemp>
	<steadyspeed>0</steadyspeed>
  </profile>
</fanspeed>